@model IEnumerable<HalifaxDine.Models.MenuItemModel>

<h2>Order</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Menu_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Menu_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Menu_Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Menu_Price)
        </th>
        <th></th>
    </tr>
    @{float subtotal = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Menu_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Menu_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Menu_Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Menu_Price)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { item })
            </td>
        </tr>
        subtotal += item.Menu_Price;
    }
</table>
@{
    float HST = subtotal * ViewBag.Tax;
    float total = subtotal + HST;

}
<p>subtotal: @subtotal </p>
<p>HST: @HST  </p>
<p>Total: @total  </p>
@Html.ActionLink("Pay", "PayOrder", new { ViewBag.Trans_Id }, new { @class = "btn btn-primary" })
