@model HalifaxDine.Models.EmployeeModel

@{
    ViewBag.Title = "GetSelf";
}

<h2>Employment Information</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Privilege_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Privilege_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_LName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_LName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Hourly_Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Hourly_Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Hire_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Hire_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Phone)
        </dd>

    </dl>
</div>
