@model IEnumerable<HalifaxDine.Models.FeedbackModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Branch_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Feedback_Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Feedback_Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Branch_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Feedback_Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Feedback_Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
    </tr>
}

</table>
